{% extends "base.html" %}

{% block tabs %}
  <li class="active"><a href="#">Features</a></li>
  <li><a href="faq">FAQ</a></li>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="hero-unit span10 offset1">
        <div class="row-fluid">
          <div class="span7">
            <p>Simple, but exciting classic puzzle game that you can play on your iPhone or iPod Touch.</p>
            <p>&nbsp;</p>

            <p><strong>15-puzzle</strong> is a sliding puzzle that consists of numbered square tiles in random order with one tile missing. The object is to place the tiles in order by making sliding moves using the empty space.</p>
            <p>&nbsp;</p>

            <p>Features:</p>
            <ul>
              <li>Immersive experience.</li>
              <li>No advertising. Serious.</li>
              <li>Auto-save when interrupted.</li>
              <li>Comprehensive tutorial.</li>
            </ul>
            <p>&nbsp;</p>
            <a href="https://itunes.apple.com/us/app/15-sliding-puzzle/id574223864?mt=8" target="_blank"><img src="img/app_store_link.svg"></img></a>

          </div>

          <div class="span5">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item"><img class="pull-right" src="img/screenshots/1.png"></img></div>
                <div class="item"><img class="pull-right" src="img/screenshots/2.png"></img></div>
                <div class="item"><img class="pull-right" src="img/screenshots/3.png"></img></div>
                <div class="item"><img class="pull-right" src="img/screenshots/4.png"></img></div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block redirect_link %}/{% endblock %}
