ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.menu li {
  float: right;
}

ul.menu li a {
  display: block;
  width: 80px;
  background-color: #dddddd;
  text-align: center;
}
